#orderContainer {
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    width: 90vw;
    height: 85vh;
}

body {
    background: linear-gradient(135deg, #f8fafc 0%, #e0e7ef 100%);
    /* align-content: center; */
    /* justify-content: center; */
    justify-items: center;
    align-items: center;
    height: 100vh;
    
}