input[type='radio'][name='buttonGroup'] { display:none; }
label {
  display:inline-block;
  padding:3px;
  border:1px solid #e0e0e0;
  border-radius:3px;
  background-color:#F0F0F0;
  width:40%;
  text-align:center;
}

/* Clicking a label will select its corresponding hidden radio button
   We can select that radio buttons sibling label and style it. */
input[type='radio'][name='buttonGroup']:checked + label { background-color:#a0a0a0; }


#servingContainer, #sauceContainer, #toppingContainer {
  background: #f3f4f6;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
}


.sauceOptionContainer {
  display: flex;
  justify-content: space-between;
}

.sauceContainer  {
  margin: 7px 0 7px;
  border-bottom: 3px solid green;
  border-image: linear-gradient(90deg, #22c55e 0%, #16a34a 100%) 1;
}

